<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="jumbotron bg-warning mt-3">
          <h1 class="text-center">Descuento en el Articulo</h1>
          <div class="row">
              <!-- comenzamos a crear los rows para los detalles del producto -->
              <div class="col-4">
              <label for="">Nombre del Producto:</label>
              <input type="text" name="" id="nombreP" class="form-control">
          </div>
          <div class="col-4">
            <label for="">Clave del producto:</label>
            <input type="number" name="" class="form-control" id="ClaveP">
          </div>
          <div class="col-4">
            <label for="">Precio del producto:</label>
            <input type="number" name="" class="form-control" id="PrecioP">
          </div>
      </div>
      <!-- boton para ralizar nuestra fuction -->
      <div class="row">
          <div class="col-12">
          <div class="btn btn-outline-info btn-block mt-3" id="btnDetalles">Detalles del Producto</div>
      </div>
    </div>
      <!-- lugar para imprimir el resultado -->
          <div class="alert alert-info mt-3"  id="printInfo" role="alert"></div>
  </div>
  <script src="./../js/app.js"></script>
  </body>
</html>
