<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
  <div class="container">
      <div class="jumbotron bg-info">
          <h1 class="text-center">PRESUPUESTO</h1>
          <div class="row">
              <div class="col-12">
                  <label for="">Ingrese Presupuesto</label>
                  <input type="number" class="form-control" id="prespuesto">
              </div>
          </div>
          <div class="row">
              <div class="col-3">
                  <label for="">Precio articulo 1:</label>
                  <input type="number" class="form-control" id="Articulo1">
              </div>
              <div class="col-3">
                  <label for="">Precio articulo 2:</label>
                  <input type="number" class="form-control" id="Articulo2">
              </div>
              <div class="col-3">
                  <label for="">Precio articulo 3:</label>
                  <input type="number" class="form-control" id="Articulo3">
              </div>
              <div class="col-3">
                  <label for="">Precio articulo 4:</label>
                  <input type="number" class="form-control" id="Articulo4">
              </div>
          </div>
          <div class="row">
              <button class="btn btn-outline-danger btn-block mt-2" id="btnSuma">Comparación contra el Presupuesto</button>
          </div>
          <div id="PrintZn"></div>
      </div>
  </div>
  <script src="./../Js/app.js"></script>
  </body>
</html>
