<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
      <h1 class="text-center mt-5" >METROS A PULGADAS</h1>
      <div class="container">
          <div class="jumbotron">
              <div class="row">
                  <div class="col-12">
                    <div class="form-grup">
                        <label for="">Ingrese la cantidad de tela en Metros</label>
                        <input type="number" placeholder="ingrese la cantidad de tela" id="telamts">
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <button class="btn btn-outline-info btn-block mt-3" id="convierte">metros a pulgadas</button>
                  </div>
              </div>
              <div class="alert alert-success mt-3" role="alert" id="generaConversion"></div>
          </div>
      </div>
 <script src="./../js/app.js"></script>
  </body>
</html>
