<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
      
 <div class="container">
     <div class="jumbotron">
         <h1>Numero Mayor</h1>
         <div class="row">
             <div class="col-6">
                <div class="form-grup">
                    <label for="">Ingrese el numero A:</label>
                    <input type="number" name="" id="inpNumero1" class="form-control">
                </div>
            </div>
            <div class="col-6">
                <div class="form-grup">
                    <label for="">Ingrese el numero B:</label>
                    <input type="number" name="" id="inpNumero2" class="form-control">
                </div>
             </div>
         </div>
         <div>
             <div class="row">
                 <div class="col-12">
                     <button class="btn btn-outline-success btn-block mt-3" id="btnComparar" >COMPARA NUMEROS</button>
                 </div>
             </div>
             <div class="row mt-3">
                 <div class="col-12">
                     <div class="alert alert-success " id="PrintAlert"></div>
                 </div>
             </div>
         </div>
     </div>
 </div>

    <script src="../js/app.js"></script>
  </body>
</html>
