<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
      <div class="container">
          <div class="jumbotron mt-5">
              <div class="row">
                  <div class="col-12">
                      <h1>Metodos JavaScript</h1>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="form-group">
                          <label for="">Ingrese el tamaño del array</label>
                          <input type="text" name="" id="Size" class="form-control"> 
                      </div>
                  </div>
              </div>
              <!-- row para botones -->
              <div class="row">
                  <div class="col-12">
                      <button class="btn btn-outline-primary btn-block col-3" id="op1" >OPCION 1</button>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <button class="btn btn-outline-primary btn-block col-3 mt-2" id="op2" >OPCION 2</button>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-outline-primary btn-block col-3 mt-2" id="op3" >OPCION 3</button>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-outline-primary btn-block col-3 mt-2" id="op4" >OPCION 4</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <button class="btn btn-outline-primary btn-block col-3 mt-2" id="op5">OPCION 5</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-outline-primary btn-block col-3 mt-2" id="op6">OPCION 6</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-outline-primary btn-block col-3 mt-2" id="op7">OPCION 7</button>
                    </div>
                    <div class="col-4">
                        <button class="btn btn-outline-primary btn-block col-3 mt-2" id="op8">OPCION 8</button>
                    </div>
                </div>
          </div>
      </div>
      <script src="./../Js/app.js"></script>
   
  </body>
</html>
