<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h1 class="text-center mt-2">MATRICULA ESTUDIANTIL</h1>
    <div class="container">
      <div class="jumbotron">
        <div class="row">
          <div class="col-6">
            <div class="form-grup">
              <label for="">Matricula Estudiantil</label>
              <input
                class="form-control"
                type="number"
                name=""
                id="matricula"
                placeholder="agrege matricula"
              />
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-2.2">
            <div class="form-grup">
              <label for="">CALIFICACION 1:</label>
              <input
                class="form-control"
                type="number"
                name=""
                id="calificacion1"
                placeholder="agrege calificacion"
              />
            </div>
          </div>
          <div class="col-2.2">
            <div class="form-grup">
              <label for="">CALIFICACION 2:</label>
              <input
                class="form-control"
                type="number"
                name=""
                id="calificacion2"
                placeholder="agregue calificacion"
              />
            </div>
          </div>
          <div class="col-2.2">
            <div class="form-grup">
              <label for="">CALIFICACION 3:</label>
              <input
                class="form-control"
                type="number"
                name=""
                id="calificacion3"
                placeholder=" agregue calificacion"
              />
            </div>
          </div>
          <div class="col-2.2">
            <div class="form-grup">
              <label for="">CALIFICACION 4:</label>
              <input
                class="form-control"
                type="number"
                name=""
                id="calificacion4"
                placeholder=" agregue calificacion"
              />
            </div>
          </div>
          <div class="col-2.2">
            <div class="form-grup">
              <label for="">CALIFICACION 5:</label>
              <input
                class="form-control"
                type="number"
                name=""
                id="calificacion5"
                placeholder=" agregue calificacion"
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-outline-info btn-block mt-3" id="calcpromediogeneral">
              promedio de calificaciones
            </button>
          </div>
        </div>
        <div class="alert alert-success mt-3" role="alert" id="IMPpromedio"></div>
      </div>
    </div>
    <script src="./../js/app.js"></script>
  </body>
</html>
