<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
      <h1 class="text-center">DISTANCIA ENTRE PUNTOS A-B</h1>
      <div class="container">
          <div class="jumbotron">
              <div class="row">
                  <div class="col-6">
                      <div class="form-grup">
                          <label for="">Ingrese posicion punto A en el eje X:</label>
                          <input type="number" placeholder="ingrese posicion A" id="PsnAX">
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="form-grup">
                          <label for="">Ingrese posicion punto B en el eje X:</label>
                          <input type="number" placeholder="ingrese posicion B" id="PsnBX"> 
                      </div>
                  </div>
              </div>
              <div class="row mt-3">
                  <div class="col-6">
                      <div class="form-grup">
                          <label for="">Ingrese posicion punto A en el eje Y:</label>
                          <input type="number" placeholder="ingrese posicion A" id="PsnAY">
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="form-grup">
                          <label for="">Ingrese posicion punto B en el eje Y:</label>
                          <input type="number" placeholder="ingrese posicion B" id="PsnBY"> 
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <button class="btn btn-outline-info btn-block mt-3" id="botondistancia">Calcular distancia entre puntos</button>
                  </div>
              </div>
              <div class="alert alert-success mt-3" role="alert" id="imprimirdistancia"></div>
          </div>
      </div>
      <script src="../js/app.js"></script>
  </body>
</html>
