<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
  <div class="container">
      <div class="jumbotron bg-primary">
          <h1 class="text-center">Numeres Descendentes</h1>
          <div class="row">
              <div class="col-4">
                  <label for="">Ingrese Valor A:</label>
                  <input type="number" max="10" class="form-control" id="ValA">
              </div>
              <div class="col-4">
                  <label for="">Ingrese Valor B:</label>
                  <input type="number" max="10" class="form-control" id="ValB">
              </div>
              <div class="col-4">
                  <label for="">Ingrese Valor C:</label>
                  <input type="number" max="10" class="form-control" id="ValC">
              </div>
          </div>
          <div class="row">
              <button class=" btn btn-outline-warning btn-block mt-3" id="btnOrdenar">Ordenar</button>
          </div>
          <div id="PrintZn"></div>
      </div>
  </div>
  <script src="./../Js/app.js"></script>
  </body>
</html>
